<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <h4 class="p-2 text-center">Tabla Autores</h4>
      <table class="table table-bordered table-hover">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nationality</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {{#each autores}}
          <tr>
            <td>{{author_id}}</td>
            <td id="nombre">{{name}}</td>
            <td>{{nacionality}}</td>
            <td>
              <a href="delete/{{ author_id }}" class="btn btn-danger">Delete</a>
              <a href="edit/{{ author_id }}" class="btn btn-primary">Edit</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="row">
        {{#each arrayPag}}
        <a class="btn btn-dark m-1" href="pag={{this}}">{{ this }}</a>
        {{/each}}
        <a class="btn btn-success m-1" href="add">Add Author</a>
      </div>
    </div>
  </div>
</div>